*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.tudo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #CE1126;
}

header h1 {
    font-size: 28px;
    font-weight: 500;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
    margin: 0 20px;
    font-weight: 700;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    position: relative;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

footer{
    background-color: #000;
    color: #FFF;
    font-size: 2vh;
}

#home {
    position: relative;
    flex: 1;

    background-image: url(assets/imgs/bg_index.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

#home > * {
    position: relative;
}

#saber-mais {
    background-color: #FFC70F;
    border: none;
    transition: all 0.3s ease;
    border-radius: 20px;
}

#saber-mais:hover {
    background-color: #e0ac00; /* tom mais escuro */
    transform: scale(1.05);   /* leve animação */
}

hr {
    border-top: 3px solid; /* vermelho bootstrap */
}